###### Requirements without Version Specifiers ######
#

pykafka
Flask
flask_restful
#
###### Requirements with Version Specifiers ######
#
numpy>=1.13.3
scipy>=0.19.1K
PyMySQL==0.7.11
pymongo==3.5.1
#
###### Refer to other requirements files ######
#
#
###### A particular file ######
#
#
